:root {
    --cor-principal: #7159C1;
    --cor-secundaria: #f8f9fa;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {   
    background-color: var(--cor-principal);
    display: flex;
}

/* Left Side */
#repo-form {
    width: 40%;
    padding: 100px;
    color: var(--cor-secundaria);
}

#repo-form h1 {
    width: 250px;
    padding-bottom: 3px;
    border-bottom: 3px solid #7A60D1;
}

#repo-form p {
    margin-top: 8px;
    filter: brightness(90%);
    letter-spacing: 1.5px;
    font-family: sans-serif;
    font-size: 16px;
}

#repo-form .input {
    display: flex;
    margin: 15px 0;
    background-color: #7A60D1;
    border-radius: 10px;
}

#repo-form .input span {
    padding: 15px;
}

#repo-form .input input {
    flex: 1;
    margin-left: 10px;
    background-color: #7A60D1;
    color: var(--cor-secundaria);
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
}

#repo-form .input input::placeholder {
    color: var(--cor-secundaria);
    filter: brightness(90%);
    font-size: 14px;
}

#repo-form button {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    background-color: var(--cor-principal);
    border: 2px solid var(--cor-secundaria);
    border-radius: 5px;
    color: var(--cor-secundaria);
    transition: .4s;
}

#repo-form button:hover {
    border-color: #7A60D1;
    color: #7A60D1;
    background-color: #fff;
    cursor: pointer;
}

/* Right Side*/
#repo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    width: 60%;
    min-height: 100vh;
    border-radius: 20px 0 0 20px;
    background-color: #fff;
    list-style: none;
    font-family: sans-serif;
}

#repo-list li {
    margin-top: 10px;
    max-width: 670px;
    width: 90%;
    clear: both;
    background-color: var(--cor-secundaria);
    padding: 5px;
    border-radius: 8px;
    border: 1px solid rgba(113, 89, 193, 0.397);
}

#repo-list img {
    float: left;
    margin-right: 20px;
    width: 90px;
    border-radius: 8px;
}

#repo-list p {
    text-indent: -1px;
    font-size: 17px;
}

#repo-list a {
    color: var(--cor-principal);
    text-decoration: none;
}

#repo-list a:hover {
    border-bottom: 2px solid var(--cor-principal);
}

@media (max-width: 1000px) {
    body {
        flex-direction: column;
    }
    #repo-form {
        width: 80%;
        margin: 0 auto 38px;
        padding: 20px;
    }
    #repo-form button {
        width: 250px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    #repo-list {
        width: 100%;
        min-height: 61.5vh;
        border-radius: 20px 20px 0 0;
    }
    #repo-list li {
        max-width: 800px;
    }
}

@media (max-width: 350px) {
    #repo-form h1, #repo-form p, #repo-form .input {
        position: relative;
        right: 20px;
    }
}